[Unit]
Description=NVIDIA power limit tweak

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 10
ExecStart=/usr/sbin/nvidia-pl.sh

[Install]
WantedBy=multi-user.target
